<div id="<%= dom_id application %>">
  <p>
    <strong>Username:</strong>
    <%= application.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= application.email %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= application.phonenumber %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= application.description %>
  </p>

</div>
