<div class="job-card" id="<%= dom_id job %>">
  <p class="mt-2">
    <strong>Title:</strong>
    <%= job.title %>
  </p>

  <p class="mt-2">
    <strong>Description:</strong>
    <%= job.description %>
  </p>

  <p class="mt-2">
    <strong>Date:</strong>
    <%= job.date %>
  </p>

  <p class="mt-2">
    <strong>End-Date:</strong>
    <%= job.enddate %>
  </p> 
</div>